@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html {
    @apply subpixel-antialiased text-gray-900 font-medium text-opacity-100;
    -webkit-font-smoothing: none; /* Turn off font smoothing */
    -moz-osx-font-smoothing: auto;
    text-rendering: geometricPrecision; /* Prioritize sharp rendering */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
